.headContainer {
    display: flex;
    align-items: center;
    gap: 450px;
    border-bottom: 1px solid var(--badges);
    background: var(--inputs);
}


.logoLink {
    width: 136px;
    height: 16px;
}

.navList {
    display: flex;
    gap: 32px;
    align-items: center;
}

.navLink {
    padding: 4px 6px;
    transition: color .3 ease-in-out;
}

.active {
    color: var(--button-hover);
}