.headContainer {
    display: flex;
    align-items: center;
    gap: 450px;

    @media (max-width: 480px) {
        gap: 60px;
    }

}

.logoLink {
    display: inline-block;
    padding: 24px 0;
}

.navList {
    display: flex;
    gap: 12px;
    align-items: center;
    list-style: none;
}

.navLink {
    padding: 4px 6px;
    transition: var(--transition-base);
}

.navLink:focus,
.navLink:hover {
    color: var(--button-hover);
}

.activeLink {
    color: var(--button-hover);
}