.filterBar {
    max-width: 360px;

    @media (max-width: 480px) {
        width: 100%;
        margin: 0 auto;
    }
}

.form {
    display: flex;
    flex-direction: column;

}

.location {
    margin-bottom: 40px;
}

.filterWrepper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;

    @media (max-width: 480px) {
        align-items: center;
    }
}

.filterWrepper h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-right: auto;
    color: var(--text);
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.checkboxContainer h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    margin-right: auto;
    color: var(--main);
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--gray-light);
}

.checkBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media (max-width: 480px) {
        grid-template-columns: repeat(2, auto);
        align-items: center;
        justify-content: center;
    }
}

.actions {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
}