.filterBar {
    max-width: 360px;
}

.form {
    display: flex;
    flex-direction: column;
}

.location {
    margin-bottom: 40px;
}

.filterWrepper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;

}

.filterWrepper h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxContainer h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--gray-light);
}

.checkBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}