.filterBar {
    max-width: 360px;
}

.form {
    display: flex;
    flex-direction: column;
}

.location {
    margin-bottom: 40px;
}

.filterWrepper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.filterWrepper h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}

.checkboxContainer {
    gap: 24px;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--gray-light);
}

.checkBox {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-row: 8px;
    column-gap: 12px;
}