.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: flex-start;

}

.label {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--text);
}

.field {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background: var(--inputs);
    border-radius: 12px;
    padding: 0 18px;
    transition: border-color 0.3s ease;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.icon svg {
    width: 20px;
    height: 20px;
    fill: var(--main);
    stroke: var(--main);
    stroke-width: 0.5px;
    opacity: .5;
    transition: opacity 0.3s ease;
}



.input {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--main);
    padding: 0;
    transition: var(--transition-base);
}

.input:focus {
    outline: none;
}

.field:focus-within .icon svg {
    opacity: 1;
}


.input::placeholder {
    font-weight: 400;
    color: var(--gray);
    transition: var(--transition-base);

}

.input[type='textarea'] {
    resize: none;
}