.hero {
    padding: 260px 0;
    background-image: url('/images/hero_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    margin-right: auto;
}

.titleBox h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 67%;
    color: var(--inputs);
    margin-bottom: 16px;
}

.titleBox p {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--inputs);
}

.heroButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    padding: 16px 56px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    background: var(--button);
    transition: var(--transition-base);
    text-decoration: none;
}

.heroButton:focus,
.heroButton:hover {
    background: var(--button-hover);
}