@import "react-datepicker/dist/react-datepicker.css";

:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: rgb(216, 67, 67);
  --rating: #ffc531;
  --background: var(--white);
  --foreground: var(--main);
  --font-family: "Inter", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
}

svg {
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}


.header {
  border-bottom: 1px solid var(--badges);
  background: var(--inputs);
}





.scrollToTopBtn {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--button);
  border-radius: 20%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  fill: var(--white);
  stroke: var(--white);
  transition: opacity 0.3s, visibility 0.3s, fill 0.3s ease-in-out,
    transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  z-index: 100;
}

.scrollToTopBtn svg {
  transform: rotate(90deg);
}

.scrollToTopBtnVisible {
  opacity: 1;
  visibility: visible;
}

.scrollToTopBtn:hover {
  transform: scale(1.1);
  background-color: var(--button-hover)/50;
}