.detailsContainer {
    padding-top: 48px;
    padding-bottom: 80px;

    @media (max-width: 480px) {
        padding-top: 24px;
        padding-bottom: 40px;
    }
}

.titleSection {
    margin-bottom: 28px;
}

.titleSection h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    margin-bottom: 8px;
}

.metaInfo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.metaItem {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    gap: 4px;
}

.rating {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.price {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
}

.gallerySection {
    margin-bottom: 28px;
}

.descriptionSection {
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    max-width: 100%;
}

.icon {
    width: 16px;
    height: 16px;
}

.iconRating {
    fill: var(--rating);
}

.iconMap {
    fill: var(--main);
}

.head {
    border-bottom: 1px solid var(--gray-light);
    width: 100%;
    margin-bottom: 44px;

    @media (max-width: 480px) {
        margin-bottom: 24px;
    }
}

.tabs {
    display: flex;
    gap: 40px;
}

.tabButton {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 24px;
    color: var(--main);
    position: relative;
    cursor: pointer;
}

.tabButton.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--button);
}

.bottomFlexContainer {
    display: flex;
    gap: 40px;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
    }
}