.container {
    padding-top: 44px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin-bottom: 44px;
}

.details {
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 24px;
}

.line {
    width: 100%;
    height: 1px;
    background: var(--gray-light);
    margin-bottom: 24px;
}

.detailsList {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style: none;
}

.detailsItem {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
}

.capitalize {
    text-transform: capitalize;
}