.container {
    background: var(--inputs);
    border-radius: 10px;
    padding: 44px;
    width: 631px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin-bottom: 100px;
}

.details {
    width: 100%;
}

.details h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 24px;
}

.line {
    width: 100%;
    height: 1px;
    background: var(--gray-light);
    margin-bottom: 24px;
}

.detailsList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.detailsItem {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.capitalize {
    text-transform: capitalize;
}