.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: calc(24 / 20);
    margin-bottom: 8px;
    color: var(--main);
}

.subtitle {
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--text);
    margin-bottom: 24px;
}

.textarea {
    width: 100%;
    min-height: 114px;
    padding: 18px;
    background: var(--inputs);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--main);
    resize: none;
}

.textarea::placeholder {
    color: var(--gray);
}

.textarea:focus {
    outline: none;
}

.submitButton {
    align-self: flex-start;
    margin-top: 10px;
}