.container {
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    padding: 44px;
    width: 641px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 8px;
    color: var(--main);
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
    margin-bottom: 24px;
}

.textarea {
    width: 100%;
    min-height: 118px;
    padding: 18px;
    background: var(--inputs);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    resize: none;
}

.textarea::placeholder {
    color: var(--gray);
}

.textarea:focus {
    outline: none;
}

.submitButton {
    align-self: center;
    margin-top: 10px;
}

.toast {
    border-radius: 12px;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.toastContent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 24px 32px;
    border-radius: 12px;
    animation: fadeIn 0.3s ease;
}

.toastContent div {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    line-height: 150%;
    color: var(--button-hover);
    display: flex;
    gap: 8px;
    align-items: center;
}