.catalogPage {
    padding: 48px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
}

.catalogWrapper {
    display: flex;
    gap: 64px;
    align-items: flex-start;
}

.catalogContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.loadMoreButton {
    align-self: center;
    margin-top: 20px;
}

.message {
    text-align: center;
    font-size: 16px;
    color: var(--text);
    padding: 20px;
}