.container {
    border-radius: 10px;
    padding: 44px;
    width: 631px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 44px;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.avatar {
    width: 60px;
    height: 60px;
    background: var(--inputs);
    color: var(--button);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}