.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    padding: 16px 32px;
    width: 112px;
    height: 96px;
    mix-blend-mode: multiply;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box svg {
    width: 32px;
    height: 32px;
    fill: var(--foreground);
    stroke: var(--foreground);
}

.label {
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
}

.input:checked+.box~.label,
.input:checked~.label {
    font-weight: 600;
}

.wrapper:has(.input:checked) {
    border: 1px solid var(--button);
}