.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    padding: 16px 32px;
    width: 112px;
    height: 96px;
    mix-blend-mode: multiply;
    cursor: pointer;
    transition: all .3 ease-in-out;
}

.box svg {
    width: 32px;
    height: 32px;
    fill: var(--foreground);
    stroke: var(--foreground);
}


input [type="checkbox"]:checked .wrapper {
    border: 1px solid var(--button);
}