.cardContainer {
    background: var(--white);
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    gap: 24px;

    @media (max-width: 480px) {
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        align-items: center;
    }
}

.image {
    border-radius: 10px;
    width: 292px;
    height: 320px;
    object-fit: cover;
    cursor: pointer;

    @media (max-width: 480px) {
        width: 100%;
    }
}


.infoContainer {
    width: 524px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 480px) {
        width: 332px;
        align-items: center;
    }
}

.titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }
}

.name {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);

    @media (max-width: 480px) {
        font-size: 22px;
        font-weight: 700;
    }
}

.priceHeartBox {
    display: flex;
    align-items: center;
    gap: 12px;
}

.price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 133%;
    color: var(--main);
}

.priceHeartBox svg {
    fill: var(--foreground);
    cursor: pointer;
    transition: var(--transition-base);
}

.priceHeartBox svg.favorite {
    fill: var(--button) !important;
}

.subtitleRow {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;

    @media (max-width: 480px) {
        margin-right: auto;
    }
}


.subtitleRow div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.subtitleRow svg.gray {
    fill: var(--badges);
}

.subtitleRow svg.gold {
    fill: var(--rating);
}

.avgRating {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.subtitleRow p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
}

.subtitleRow svg {
    width: 16px;
    height: 16px;
    fill: var(--main);
}

.description {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    max-width: 50ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 480px) {
        max-width: 34ch;
    }
}

.tagContainer {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 8px;
    list-style: none;
    margin-bottom: 24px;

    @media (max-width: 480px) {
        grid-template-columns: repeat(2, max-content);
    }
}