.tabsContainer {
    width: 607px;
}

.head {
    border-bottom: 1px solid var(--gray-light);
}

.tabs {
    display: flex;
    gap: 40px;
}

.tabButton {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 24px;
    color: var(--main);
    position: relative;
    cursor: pointer;
}

.tabButton.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--button);
}

.content {
    min-height: 400px;
}