.tagWrapper {
    height: 48px;
    border-radius: 100px;
    padding: 12px 18px;
    background: var(--badges);
    mix-blend-mode: multiply;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.box svg {
    width: 20px;
    height: 20px;
    fill:
        var(--foreground);
    stroke:
        var(--foreground);
}