.galleryGrid {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        ;
        margin: 0 auto;
    }
}

.imageWrapper {
    position: relative;
    width: 290px;
    height: 310px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;

    @media (max-width: 480px) {
        width: 100%;
    }
}

.image {
    object-fit: cover;
    cursor: pointer;
}