.button {
    display: inline-flex;
    border-radius: 200px;
    padding: 16px 56px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main);
    border: none;
    transition: var(--transition-base);
    cursor: pointer;
}

.primary {
    color: var(--white);
    background: var(--button);
}



.primary:focus,
.primary:hover {
    background: var(--button-hover);
}

.secondary {
    border: 1px solid var(--gray-light);
    background: transparent;
}

.secondary:hover {
    border: 1px solid var(--button-hover);
}

.secondary:focus {
    outline: none;
}

.secondary:focus-visible {
    border: 1px solid var(--button-hover);
}