.button {
    display: inline-flex;
    border-radius: 200px;
    padding: 16px 60px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main);
    transition: all .3 ease-in-out;
}

.prymary {
    color: var(--white);
    background: var(--button);
}



.prymary:focus,
.prymary:hover {
    background: var(--button-hover);
}


.secondary {
    border: 1px solid var(--gray-light);
    background: transparent;
}

.secondary:focus,
.secondary:hover {
    border: 1px solid var(--button-hover);
}